:root{
	--dark-blue: #002c40;
	--red: #ef2345;
	--space-green: #38ab9e;
	--white: #FFFFFF;
	--light-grey: #f1f1f1;
	--dark-grey: #bdc3c7;
}

::selection {
  background: var(--space-green); /* WebKit/Blink Browsers */
  color: var(--white);
}
::-moz-selection {
  background: var(--space-green); /* Gecko Browsers */
  color: var(--white);
}

.container-fluid {
	max-width: 1200px;
}

@font-face {
	font-family: "ailerons";
	src: url("../font/Ailerons-Typeface.otf"); /* para IE */
	src: local("ailerons"), url("../font/Ailerons-Typeface.otf") format("opentype");
}

h1 {
	font-family: "ailerons", sans-serif;
	color: var(--dark-blue);
	font-size: 3.8em;
	letter-spacing: -0.2em;
}

h2 {
	font-family: "ailerons", sans-serif;
	font-size: 2.6em;
	letter-spacing: -0.2em;
	color: var(--red);
	margin-bottom: 1rem;
}

h3 {
	font-family: 'Dosis', sans-serif;
	color: var(--dark-blue);
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 0.6em;
}

h4 {
	font-family: 'Dosis', sans-serif;
	color: var(--dark-blue);
	font-weight: 600;
	font-size: 1.1em;
	letter-spacing: 0.1em;
	line-height: 1.4em;
}

p {
	font-family: 'Dosis', sans-serif;
	font-size: 1em;
	color: var(--dark-blue);
	line-height: 1.6em;
	text-align: justify;
	letter-spacing: 0.04em;
}

.p_bold {
	font-weight: 600;
}

a {
	text-decoration: none;
}

i {
	color: var(--space-green);
}

.bg-header {
	position: absolute;
	background-color: #1e2142;
	height: 213px;
	width: 100%;
	z-index: -1;
}

header {
	background-image: url(../img/topo_espacial.jpg);
	height: 380px;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}

.resume {
	display: none;
}

@media screen and (min-width: 768px){
	.resume {
		display: unset;
	}
}

@media screen and (min-width: 768px){
	.info-header {
		padding-top: 4em;
	}
}

.avatar-nery {
	margin-top: 1.4em;
}

.avatar-nery img {
	width: 100%;
	max-width: 332px;
	height: 100%;
	max-height: 332px;
}

@media screen and (min-width: 1000px){
	.info-header h4, .info-header h1 {color: #FFFFFF}
}

@media screen and (min-width: 333px){
	.avatar-nery {margin-top: 1em;}
}	

@media screen and (min-width: 350px){
	.avatar-nery {margin-top: 0em;}
}	

@media screen and (min-width: 768px){
	.avatar-nery img {margin-top: -5.3em;}
}

progress {
	background-color: var(--light-grey);
	border: 0;
	height: 3px;
	width: 180px;
	border-radius: 2px;	
}
progress::-webkit-progress-bar {
	background-color: var(--light-grey);
	border: 0;
	height: 3px;
	width: 180px;
	border-radius: 2px;
}
progress::-webkit-progress-value {
	background-color: var(--red);
	border: 0;
	height: 3px;
	width: 180px;
	border-radius: 2px;
}
progress::-moz-progress-bar {
	background-color: var(--light-grey);
	border: 0;
	height: 3px;
	width: 180px;
	border-radius: 2px;
}

.experiencia-bloco {
	margin-bottom: 40px;
}

.experiencia-bloco h3,
.experiencia-bloco h4 {
	color: var(--space-green)
}

.habilidade-progress {
	margin: 10px 0 14px 0;
}

.name-space-a {
	margin: 20px 0 12px -15px;
}

.name-space-b {
	margin-bottom: 16px;
}

.name-space-c {
	margin-left: 2px;
}

.name {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 992px) {
	.desktop-fix {margin-top: -20em;}
}

#SkypeButton_Call_nerynocturnus_1 {
	display: flex;
	justify-content: center;
	margin-top: -14px;
}

.date {
	text-transform: uppercase;
	margin: 10px 0 10px 0;
}

.first-date {
	color: var(--dark-grey);
}

.current-date {
	color: var(--red);
	font-weight: 600;
}

.last-date {
	color: var(--dark-blue);
	font-weight: 600;
}

.mobile-style {
	padding-bottom: 4em;
}

footer {
	background-image: url(../img/bg_nebula.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size:cover;
	width: 100%;
	color: white;
}

.footer-content {
	padding: 40px;
}

footer p {
	color: var(--white);
}

footer i {
	color: var(--white)
}

.upper {
	text-transform: uppercase;
	margin-bottom: 1em;
}

.contato {
	width: 100%;
}

.contato li {
	margin-bottom: 0.8rem;
}


@media screen and (min-width: 992px) {
	.contato li {display: flex;}
	.contato li {align-items: center;}
	.contato li a {display: flex;}
	.contato i { margin-right: 10px;}
}
